@import '~@angular/material/theming';
@import '../theme/pmp-light';
@import './core/style/helpers/helpers';


$pmp-header-height:  64px;
$pmp-nav-width:     320px;


:host {
  display: block;
}

header {
  @include mat-elevation(6);

  background-color: mat-color($pmp-app-primary);
  height: $pmp-header-height;
  padding: 0 $pmp-content-padding;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-content {
  height: 100%;
}

.header__logo {
  height: $pmp-header-height / 2;
  padding-right: 16px;
}

.header__title {
  color: white;
  margin: 0;
}

nav {
  width: $pmp-nav-width;

  position: fixed;
  top: $pmp-header-height;
  left: 0;
  bottom: 0;
  z-index: 8;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

main {
  padding: 16px $pmp-content-padding;

  position: absolute;
  top: $pmp-header-height;
  left: $pmp-nav-width;
  right: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
