<header>
  <div class="header-content" fxLayout="row" fxLayoutAlign="start center">
    <div class="header__logo">
      <pmp-logo></pmp-logo>
    </div>
    <div class="header__title mat-headline">
      Welcome to Portal
    </div>
  </div>  
</header>
<main>
  <router-outlet></router-outlet>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id soluta quasi iste possimus sed tempora praesentium quod, asperiores, quam voluptate corporis eligendi nisi, facere consectetur excepturi cumque magni veritatis unde?</p>
</main>
