<header>
  <div class="header-content" fxLayout="row" fxLayoutAlign="start center">
    <div class="header__logo">
      <pmp-logo></pmp-logo>
    </div>
    <h1 class="header__title mat-headline">
      Welcome to RTC Reports Portal
    </h1>
  </div>  
</header>
<nav>
  <mat-expansion-panel *ngFor="let navItem of navItems" [expanded]="isNavItemExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title class="mat-body-1">
        {{navItem.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list *ngIf="navItem.getSubNavItems()" dense>
      <mat-list-item
          *ngFor="let subNavItem of navItem.getSubNavItems()"
          routerLink="{{subNavItem.link}}">
        <a matLine>{{subNavItem.title}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
